


services:
  go:
    build:
      context: ./go
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./go:/app
    tty: true
  react:
    build:
      context: ./react
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./go:/app
    tty: true
